#nav-bar {
    float: left; 
    display: inline; 
    border: solid black; 
    height: 400px;
    width:8%; 
    margin-left: 200px;
    margin-top: 300px; 
    background-color: white; 
    
  }
  
  #main {
    display: block; 
    float: right; 
    border: solid black; 
    height: 500px; 
    width: 64%; 
    overflow: auto; 
    margin-right: 200px; 
    margin-top: 300px; 
    background-color: white; 
    
      
  }
  #main img{
    height: 200px; 
    width: 200px; 
  }

  #main li{
    font-size: 30px; 
  }
  #aside {
    display: inline-block;
    border: solid black; 
    margin-left: 200px; 
    margin-right: 200px; 
    margin-top: 50px; 
    margin-bottom: 20px; 
    background-color: white; 
    
  }
.header {
 border: solid; 
 text-align: center; 
 background-color: rgb(100, 224, 100); 
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 background: url('Images/FOG_Banner.jpeg');
 height: 400px; 
 Width: 1500px; 
 background-repeat: no-repeat; 
 background-size: cover; 
 

}
.header h1{
  font-size: 40px; 
  color: white; 
}
#canada_goose {
    height: 100px; 
    width: 100px; 
}
#About_us_goose {
    height: 100px; 
    width: 100px; 
}
#Goose_facts_goose {
    height: 100px; 
    width: 100px; 
}